{
  "presets": [
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": ["> 0.2%", "last 2 versions", "Firefox ESR", "iOS >= 8", "Safari >= 8",]
        }
      }
    ]
  ]
}
