@keyframes move_waveFooter {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.gradientFooter {
  background-image: linear-gradient(to top, #68da23 10%, #412854 25%);
}

.waveFooterTop {
    background-size: 50% 75px;
    background-image: url('../../../static/wave/wave-footer-top.png');
}
.waveFooterMiddle {
    background-size: 50% 80px;
    background-image: url('../../../static/wave/wave-footer-mid.png');
}
.waveFooterBottom {
    background-size: 50% 75px;
    background-image: url('../../../static/wave/wave-footer-bot.png');
}

.waveFooterAnimation .waveFooterTop {
  animation: move-waveFooter 3s;
   -webkit-animation: move-waveFooter 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveFooterAnimation .waveFooterMiddle {
    animation: move_waveFooter 10s linear infinite;
}
.waveFooterAnimation .waveFooterBottom {
    animation: move_waveFooter 15s linear infinite;
}

@media (min-width: 640px) {
  .waveTop {
      background-size: 50% 100px;
      background-image: url('../../../static/wave/wave-top.png');
  }
  .waveMiddle {
      background-size: 50% 120px;
      background-image: url('../../../static/wave/wave-mid.png');
  }
  .waveBottom {
      background-size: 50% 100px;
      background-image: url('../../../static/wave/wave-bot.png');
  }
}
