.bgImage1 {
  margin-top: 50rem;
  width: 40rem;
  opacity: 0.8;
}

.bgImage2 {
  margin-top: 10rem;
  width: 40rem;
  opacity: 0.8;
}

.bgImage3 {
  margin-top: 100rem;
  margin-left: 30rem;
  width: 30rem;
  opacity: 0.8;
}
