.open {
  height: 35rem;
}

.closed {
  height: 12rem;
}

.waves-closed{
  height: 12rem;
}

.waves-opened{
  height: 35rem;
}

.menu-closed{
  height: 0;
  opacity: 0;
}

.menu-opened{
  opacity: 1;
  height: auto;
}

.text-shadow {
  text-shadow: 4px 4px 3px black;
}

.menu-transition {
  overflow:hidden;
  -webkit-transition: all 0.75s linear;
  -moz-transition: all 0.75s linear;
  -o-transition: all 0.75s linear;
  transition: all 0.75s linear;
}

.text-transition {
  transition: all 0.75s linear;
}

@media (min-width: 640px) {
  .closed {
    height: 20rem;
  }

  .waves-closed{
    height: 16rem;
  }
}
